.icon_arrow_down {
  grid-column: 7;
  position: relative;
  grid-row: 3/4;
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.social {
  svg {
    display: initial;
    margin: 1rem;
    fill: orange;
    path {
      fill: orange;
    }
  }
  &.social-footer {
    path {
      fill: currentColor;
    }
  }
}