@import "tailwindcss/base";

body {
  font-family: 'Montserrat', sans-serif;
}
.bg-hero-pattern {
  @apply bg-white ;
  background-size: 100% auto;
  background-position: bottom;
}

.heading {
  background: #cccccc;
  font-size: 5.8rem;
  min-height: 20rem;
  
  letter-spacing: -0.1rem;
  /* color: black; */
  padding: 3.5rem 5.5rem;
  margin-right: 4rem;
  margin-bottom: -2rem;
  margin-left: 4rem;
  /* margin: auto; */
  display: flex;
  font-weight: 900;
  text-transform: uppercase;
}

.arrow {
  grid-area: specs;
}

.slick-list { 
  grid-area: title; 
}
.slick-slider {
  position: relative;
  }

.block__arrows {
    display: flex;
}
.counters {
  display: specs;
}

.slick-prev {
  grid-area: specs;
  left: calc(50% - 4rem);
}
.slick-next {
  grid-area: specs;
  right: calc(50% - 4rem);
}
.card_properties {
  display: flex;
  left: 0;
}


.counters__digit {
  flex: 1;
  order: 1;
  text-align: center;
  justify-self: flex-start;
  display: flex;
  flex: 1;
  justify-content: center;
  align-self: flex-end;
  font-size: 5rem;
  line-height: 1;
  font-weight: bold;
  color: #cecece;
}
.slick-slide img {
  width: 100%;
}
.block__arrows {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  /*align-self: flex-end;*/
}
/*
.slick-track {
  display: flex;
  flex-flow: row nowrap;
}
.slick-initialized .slick-slide.slick-center {
 
  min-width: 1200px;

}

.slick-initialized .slick-slide.slick-center .cardobjec {
  display: grid;    
  grid-gap: 4rem;
  grid-template-areas: "img desc desc"
                       "img desc desc"
                       "img desc desc";   
  grid-template-rows: auto auto auto;
  grid-template-columns: auto 1fr 1fr;
  margin: auto;
  opacity: 1;
} 

.slick-center .cardobjec__title, .slick-center .cardobjec_desc  {
  grid-column: 2 / 4;
   display: block;
}
.slick-initialized .slick-slide.slick-center .cardobject_imgobject {
    grid-area: img;
}*/
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

