@import './index.css';

$color__main: #707070;
$color__gray: #CECECE;
$oranges: #FCA311;
$color__primary: #14213D;
$color_gray_bg: #AEAEAE;

html{
    font-size: 0.83333333333333vw;    
}
body {
    color: $color__main;
    font-size: 1rem;
}
h3 {
    font-weight: 700;
    color: black
}

.btn {
    padding: 0.75rem 3rem;
    border: 1px solid;
    display: block;

    .btn-first {
        

    }
}
.full-height {
   height: calc(100vh - 12rem);
}
.section__title {
    font-size: 5rem;
    font-weight: 900;
    color: $color__primary;
    z-index: 2;
    margin-left: 3rem;
}
.section__textShaddow {
    color: #CECECE38;  
    font-size: 6rem;
    display: block;
    margin-top: -10rem;
    margin-left: -4rem;
    font-weight: 900;
    text-transform: uppercase;
}
.title {
    color: $color__primary;
    font-weight: 500;
    font-size: 1.25rem;
    margin: 1rem;
}

.block__desc {
    p {
        margin: 2rem;
        font-size: 1.25rem;
        position: relative;        
    }   
}

.sub__desc {
    margin: auto;
    max-width: 80%;
}
.feauteres {
    padding: 0 4rem;
    dt {
        font-size: 5rem;
        font-weight: 700;
        color: $color__primary;
        span {
            font-size: 1rem;
            color: $color__main;
        }
    }
    dd {
        font-size: 1rem;
        font-weight: 700;
        color: $color__main;
        border-left: 0.25rem solid $oranges;
    padding-left: 1rem;
    
    }
}
.icons {
    display: flex;
    
    svg {
        margin: 1rem;
    }
}
.form {
    min-width: 70%;
    margin-right: auto;
    /* height: 4rem; */
    padding: 0.25rem;
    background-color:rgba(206,206,206,0.25)
    input {
       color: $color__main;
    }
    ::-webkit-input-placeholder { /* Chrome */
        color: $color__main;
        transition: opacity 250ms ease-in-out;
      }
      :focus::-webkit-input-placeholder {
        opacity: 0.5;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: $color__main;
        transition: opacity 250ms ease-in-out;
      }
      :focus:-ms-input-placeholder {
        opacity: 0.5;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: $color__main;
        opacity: 1;
        transition: opacity 250ms ease-in-out;
      }
      :focus::-moz-placeholder {
        opacity: 0.5;
      }
      :-moz-placeholder { /* Firefox 4 - 18 */
        color: $color__main;
        opacity: 1;
        transition: opacity 250ms ease-in-out;
      }
      :focus:-moz-placeholder {
        opacity: 0.5;
      }
}
.bg-teal-500 {
    background-color: $oranges;
    border-color: $oranges;
}
.bg-feedback-pattern {
    max-height: 40rem;
    .section__title {
        font-size: 2.25rem;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.25;
    }
    .section__textShaddow {
    color: $color__gray;
  
    opacity: 0.84;
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
    }    
}
.smallbuild {
    .bggray30::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 30vw;
        height: 100%;
        background: $color_gray_bg;
    }
    .specs {
        svg {
            margin-right: 1rem;
        }
        span {
            /* display: block; */
            flex: 1;
            line-height: 1;
            font-weight: 500;
            font-size: 1rem;
            color: $color__primary;
            /* padding-right: 1rem; */
        }
    }
    .section__title {
        font-size: 4rem;
        color: $color__primary;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1.25;
    }
    .section__textShaddow {
    color: $oranges;
  
    opacity: 0.84;
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
    }   
     .specs {
         display: flex;
     }
}
.construction {
    .bg-text {
        display: flex;
        flex-flow: column;
        text-align: right;
        position: absolute;
        top: 5%;
        right: 0;
        opacity: 0.15;
        span {
            font-size: 5rem;
            font-weight: 900;
            color: $color__gray;
        }
        span:nth-child(2) {
            font-size: 4rem;
           
        }
        span:nth-child(3) {
            font-size: 2rem;
        }
    }
    .specs {
        
        svg {
            margin-right: 1rem;
        }
        span {
            /* display: block; */
            flex: 1;
            line-height: 1;
            font-weight: 400;
            font-size: 1.25rem;
            color: #14213D;
       
            /* padding-right: 1rem; */
        }
    }
    .section__title {
        font-size: 4rem;
        color: $color__primary;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1.25;
    }
    .section__textShaddow {
    color: $oranges;
  
    opacity: 0.84;
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
    }   
     .specs {
  
        display: grid;
        max-width: 70rem;
        margin: auto;
        /* width: 100%; */
        /* grid-auto-flow: column; */
        grid-template-columns: 1fr 1fr 1fr;
     }
}
.portfolio {
    margin-left: 7rem;
    padding: 1rem;
    display: block;
    /* box-sizing: border-box; */
   
    .items {
        display: grid;
    /* grid-auto-flow: row; */
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    }
    h3 {
        margin-top: 1rem;
    }
    .heading__portfolio {

        margin: -2rem 2rem 0;
        position: relative;
        background-color: #fff;
        padding: 2rem 3REM;
        LINE-HEIGHT: 1;
        border: 1px solid #dddddd61;
    }
}

.construction .items {
           /* max-width: 710px; */
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 18rem;
    grid-auto-flow: dense;
    .item {
        &:hover h3 {
            background: orange;
        }
    }
            .item:first-child {
            grid-column: span 2;
            grid-row: span 2;

        }
       h3 {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 2rem;
        margin: 1rem;
        font-size: 1.25rem;
        color: white;
        //background: orange;
        line-height: 1;
        
        }
        .item {
            position: relative;
            &:before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background: #0000005c;
                background-blend-mode: multiply;
            }
        }
}
.titlebox {

}
.phone {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: right;
    span {
        font-size: 1.5rem;
    }
}
.feedback {

}


.logo {
   
    display: inline-flex;
    align-items: center;
    .name {
       
        font-size: 1.5rem;      
        color: black;
        font-weight: 700;
       
    }
    hr {
        flex: 1;
     
        height: 3rem;
        margin: 1rem;
       
        border-left: 2px solid #cecece;
       
    }
    .slogan {
        max-width: min-content;
        line-height: 1;
        font-size: 0.875rem;
    }
}
.humburger {
    margin: 0 2rem 0 0;
}
nav {
    a {
        font-size: 1.25rem;
    }
}
.block__outer {
    margin: auto;
}
.heading__subtitle {
    background: $oranges;
    margin-bottom: auto;
    margin-top: -6rem;
    padding: 2rem;
   z-index: 2;
    font-size: 2rem;
    line-height: 1.5;
    /* margin: auto; */
    padding: 2rem 4rem;
    margin-left: 12vw;
    display: flex;
    font-weight: 400; 
    &::after {
        content: '';
        display: block;
        width: 7.75rem;
        position: absolute;
        height: 7.75rem;
        bottom: -3.5rem;
        z-index: 0;
        border-right: 0.5rem #CECECE solid;
        border-bottom: 0.5rem #CECECE solid;
        right: -3.5rem;
    }  
}
.ugol_b_left_top {
    position: relative;
    &:before {
        content: "";
        display: block;
        width: 7.75rem;
        position: absolute;
        height: 7.75rem;
        top: -3.5rem;
        z-index: 0;
        border-left: 0.5rem $oranges solid;
        border-top: 0.5rem $oranges solid;
        left: -3.5rem;
    }
}
.ugol_s_bottom_left {
    position: relative;
    &::after {
        content: '';
        display: block;
        width: 4rem;
        position: absolute;
        height: 4rem;
        bottom: -1.75rem;
        z-index: 0;
        border-left: 0.25rem $color__gray solid;
        border-bottom: 0.25rem $color__gray solid;
        left: -1.75rem;
    } 
}
.heading {
    background-color: #ccccccc4;
    &:before {
        content: "";
        display: block;
        width: 7.75rem;
        position: absolute;
        height: 7.75rem;
        top: -3.5rem;
        z-index: 0;
        border-left: 0.5rem $oranges solid;
        border-top: 0.5rem $oranges solid;
        left: -3.5rem;
    }
    &::after {
        content: '';
        display: block;
        width: 4rem;
        position: absolute;
        height: 4rem;
        bottom: -1.75rem;
        z-index: 0;
        border-left: 0.25rem $color__gray solid;
        border-bottom: 0.25rem $color__gray solid;
        left: -1.75rem;
    }  
    
    .leading-normal {      
        color: $color__primary;
    }
}
.carous {
    margin-top: 3rem;
    margin-bottom: 3rem;
}


/*-------------------------slider------------------------------*/

.slick-track {
    display: flex;
    flex-flow: row nowrap;
  }
  .slick-slide.slick-active.slick-center.slick-current {
    min-width: 1200px;
    margin: 0 auto;
    
}


  .cardobject__title, .cardobject__desc {
      display: none;
  }
  .cardobject__img {
    opacity: 0.5;
  }
  .slick-active.slick-center.slick-current .cardobject {
    display: grid;
    grid-template-columns: 500px calc(100% - 500px);
    -webkit-transition: width 12s 10s linear;
    -moz-transition: width 12s 10s linear;
    -o-transition: width 12s 10s linear;
    transition: width 12s 10s linear;
    -ms-transition: width 12s 10s linear;
    grid-template-rows: auto auto;
  }
  .slick-active.slick-center.slick-current .cardobject__title {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    margin: 0 2rem;
    font-size: 2rem;
    line-height: 1;
}
.slick-active.slick-center.slick-current .cardobject__img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    opacity: 1;
}
.slick-active.slick-center.slick-current .cardobject__desc {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 8rem;
    display: block;
    padding: 0 2rem;
}

.arrowsright {
    margin: 2rem;
  }
  .arrowsleft 
  {
    margin: 2rem;
  }