@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
@tailwind base;

@layer base {
  body {

  }
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-4xl mb-12 ;
    line-height: 1em;
    margin-bottom: 2rem;

  }
  h3 {
    @apply text-2xl mt-2 mb-4 font-medium text-gray-900 font-medium;
    line-height: 1em;
  }
  a {
    @apply transition duration-150 ease-in-out no-underline;
  }
  a:hover {
    @apply text-colorPrimary;
  }

  p {
    @apply my-4;
  }
  .btn {
    @apply border-2 px-12 py-6 font-semibold h-10 no-underline no-underline block flex items-center ;
    //@apply px-24 text-gray-700 py-4 border-2 font-bold no-underline;
    svg {
      width: 1.5rem;

    }
    max-width: fit-content;
    &:hover {
      @apply bg-colorPrimary text-white no-underline;
    }
    ;
    &.second {
      color: #FCA311;
      border-color: #FCA311;
    }
  }
  .btn-main {
    @apply py-2 pl-0 border-transparent font-semibold no-underline;

  }
  .btn-icon {
    min-width: fit-content;
    @apply  border-2 px-3 py-2 mr-4 border-colorGraySub;
    &:hover {
      @apply text-white ;
    }
    .text {
      display: none;
      margin-left: 0.75em;
      @apply pl-2;
    }
    .ico {
      //@apply  text-white
    }
  }
  .btn-main:hover {
    @apply  text-current;
  }
  .btn-sec {
    @apply bg-transparent border-sorange text-gray-300;
  }
  a:hover {
   @apply text-blue-600 underline;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    @apply text-gray-700 bg-gray-100 font-medium;

  }
  aside {
    grid-row: span 5;
  }

}
a:hover, a:focus {
  @apply no-underline;
}
@tailwind components;
@layer components {
  .block__title {
    @apply mx-4;
    @screen xl {
      @apply ml-16;
    }
  }
  .section__title {
    @apply  text-3xl text-colorPrimary font-bold uppercase;
    @screen md {
      @apply text-5xl;
    }
    @screen xl {
      @apply text-6xl ;
    }
  }
  .section__textShaddow {
    font-size: 1.25rem;
    display: block;
    font-weight: 900;
    text-transform: uppercase;
    @apply text-colorGraySub;
    @screen md {
      @apply  text-5xl;
    }
    @screen xl {
      @apply -mb-4  text-6xl;
    }
  }
  .block__desc {
    @apply my-12 mx-4;
    @screen md {
      //max-width: 60vw;
      @apply ml-16 ;
    }
    @screen xl {
     // @apply ;
    }
  }
  .block__docs {
    display: none;
    @screen lg {
      @apply block ml-16;
    }
    .title {
      @apply text-gray-700 ml-16;
    }
    .flex {
      img {
        @apply mr-12;
      }
    }
  }
  .feauteres {
    padding: 0 2rem;
    text-align: center;
    @screen xl {
      padding: 0 4rem;
      text-align: initial;
    }


    dt {
      font-size: 4rem;
      font-weight: 700;
      @apply text-colorPrimary;

      span {
        font-size: 1rem;
        @apply text-colorMain;
      }
    }

    dd {
      font-size: 0.875rem;
      font-weight: 700;
      @apply text-colorMain;
      border-top: 0.25rem solid #FCA311;
      max-width: 20rem;
      margin:  0 auto;
      @screen xl {
        @apply border-sorange border-l-4;
        padding-left: 1rem;
      }


      margin-bottom: 1rem;

    }
  }

}
@tailwind utilities;



.nav__icons svg {
  width: 40px;
  height: 40px;

}


.block__outer {
  margin: auto auto 11%;
}
.next {
  font-size: 0;

}

.short_uslugi {
  .post-detail {
    grid-column: span 1;
    margin: 0.25rem;

  }
}
.post-detail {
  grid-column: span 2 / span 2;
}