
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');


@tailwind base;

@layer base {

  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-2xl mt-2 mb-4 font-medium text-gray-900 font-medium;
  }
  a {
    @apply transition duration-150 ease-in-out;
  }
  .btn {
    @apply border border-gray-700 no-underline text-gray-700 block font-medium py-4 px-8 mr-2 flex items-center ;
    //@apply px-24 text-gray-700 py-4 border-2 font-bold no-underline;
    max-width: fit-content;
    &:hover {
      @apply bg-gray-700 text-white no-underline ;
    }
    ;
    &.second {
      color: #FCA311;
      border-color: #FCA311;
    }
  }
  a:hover {
   @apply text-blue-600 underline;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    @apply text-gray-700 bg-gray-100;
  }
  aside {
    grid-row: span 5;
  }

}


@tailwind components;

@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

.block__desc {
  @apply mt-8 text-xl ml-16;

}
.block__docs {
  .title {
    @apply text-gray-700 ml-16;
  }
  .flex {
    img {
      @apply mr-12;
    }
  }
}
.post-detail {
  grid-column:span 1;
}