.section {
    position: relative;
    //background: cover no-repeat #14213D 50% 50%;
    background-size: cover;
    padding: 3rem;
    opacity: 0.9;
    //height: calc(100vh - 12rem);
    //background-color: royalblue;
    background-repeat: no-repeat;

    &::after {
        content: '';
        background-color: #14213D;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.88;

        z-index: -1;
    }
}

.first__screen {
    height: calc(100vh - 12rem);
}
